<div class="login-menu">
    <a href="/register">Register </a>|
    <a href="/login">Login </a>
</div>

<div id="container">
    <div class="container-content">
        <div class="login-img">
            <img src="about.png">
        </div>
        <p><h1>Credits</h1></p>
        <div class="content-block-middle">
            <p>Made with VanillaJS, Handlebars, CSS, Node.js and Postgres.</p>
            <p>Illustrations by <a href="https://icons8.com/ouch" target="_blank">Icons 8</a>.</p>
            <p>👽</p>
        </div>
</div>
